body{
    margin: auto;
    width: 100%;
    font-family: "Oswald";
}
#top{
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: black;
    color: white;
}
#top ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}
#header{
    display:flex;
    background-color: black;
    color: white;
    padding-top: 0px;
    margin-bottom: 0px;
}
#header img{
    height: 87px;
    width: 121px;
    border-radius: 100%;
    padding-right: 23px;
    padding-left: 16px;
}
#header h1{
    font-size: 44px;
    padding-top: 13px;
    margin-top: 2px;
    margin-bottom: 12px;
    padding-right: 10px;
    margin-left: -22px;
}
#header ul{
    display: flex;
    gap: 45px;
    font-size: 17px;
    list-style-type: none;
    padding-top: 22px;
    margin-right: 12px;
    margin-top: 10px;
}
.fa.fa-coffee{
    color:white;
}
.me1:hover{
    color: #d8ab7d ;
}
.me2:hover{
    color:#8a8a89 ;
}
.fa.fa-coffee:hover{
    color: #d8ab7d ;
}
#image{
    width: 100%;
    margin-top: 0px;
}
#image video
{
     width:100%;
}
#image img{
    border-radius: 100%;
    position: relative;
    height: 182px;
    width: 195px;
    bottom: 663px;
    margin-left: 547px;
}
#image h1{
    position: relative;
    color: white;
    font-size: 73px;
    bottom: 657px;
    margin-left: 310px;
    font-weight: 700;
}
#image h4{
    position: relative;
    color: white;
    font-size: 32px;
    bottom: 668px;
    margin-left: 338px;
}
#image #b1{
    position: relative;
    color: white;
    font-size: 17px;
    bottom: 663px;
    margin-left: 551px;
    background-color: transparent;
    border: 1px solid white;
    width: 213px;
    height: 51px;
}
#image #b2{
    position: relative;
    color: white;
    font-size: 17px;
    bottom: 638px;
    margin-left: 474px;
    background-color: #c7a17a;
    border: 1px solid #c7a17a;
    width: 381px;
    height: 57px;
}
#marq{
    margin-bottom: -280px;
    width: 100%;
    background-color: #000000;
}
#marq h1{
    position: relative;
    font-size: 55px;
    color: #c7a17a;
    bottom: 570px;
    margin-left: 83px;
}
#marq li{
    position: relative;
    bottom: 482px;
    color: white;
    font-size: 25px;
    margin-left: 50px;
}
#marq #customer{
    position: relative;
    bottom: 570px;
    margin-left: 200px;
    height: 120px;
}
#marq ul{
    display: flex;
    position: relative;
    bottom: 40px;
    margin-left: 329px;
    gap: -10px;
    list-style-type: none;
}
#marq li{
    font-size: 15px;
}
.fa.fa-circle:hover{
    color:#c7a17a ;
}
#marq button{
    position: relative;
    bottom: 476px;
    margin-left: 371px;
    padding-bottom: 10px;
    background-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    border: 1px solid white;
    width: 514px;
    font-size: 20px;
}
#line{
    margin-top: 35px;
    position: relative;
    bottom: 535px;
    align-items: center;
    background-color: black;
    padding-top: 48px;
    padding-bottom: 27px;
    color: white;
    margin-bottom: 5px;
}
#line div{
    display: flex;
    padding-left: 300px;
}
#line .li{
    margin-top: -11px;
    padding-left: 5px;
    padding-right: 5px;
}
#line h1{
    font-size: 30px;
}
#menu{
    display: flex;
    margin-top: -541px;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 30px;
}
#menu div{
    margin-left: -7px;
    margin-right: 9px;
    padding-right: 10px;
}
#menu #menu1{
    margin-left: 50px;
}
#menu #menu1 h1{
    padding-left: 10px;
    font-size: 27px;
    padding-top: 40px;
}
#menu #menu1 p{
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 16px;
    color: #8b8b8a;
}
#menu #menu1 img{
    margin-left: 21px;
    font-size: 31px;
    padding-top: 42px;
    padding-bottom: 30px;
    background-color: #000000;
}
#menu #menu2 h1{
    font-size: 23px;
    padding-top: 15px;
}
#menu #menu2 p{
    font-size: 15px;
    color: #8b8b8a;
}
#menu #menu2 h3{
    font-size: 20px;
    color: #c7a17a;
}
#menu #menu3{
    margin-left: 20px;
}
#menu #menu3 h1{
    font-size: 23px;
    padding-left: 15px;
    padding-top: 10px;
}
#menu #menu3 ul{
    padding-right: 20px;
list-style-type: none;
}
#menu #menu3{
    background-image:url(./image/bg_1.jpeg) ;
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid white;
}
#menu #menu3 li{
    padding-top: 20px;
padding-bottom: 20px;
}
#menu #menu3 h2{
    color: #c7a17a;
    font-size: 24px;
    padding-left: 35px;
    padding-top: 33px;
}
#last{
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
}
#last div{
    padding-left: 10px;
}
#last img{
    width: 80%;
    margin: auto;
    margin-top: 60px;
    height: 300px;
}
#last h3{
    margin-top: 10px;
    padding-left: 30px;
    font-size: 20px;
}
#last h4{
    position: relative;
    bottom: 90px;
    font-size: 25px;
    padding-left: 7px;
}
#last p{
    margin-top: 10px;
    padding-left: 30px;
    font-size: 17px;
    color:#8b8b8a ;
}
#last #h41{
    bottom: 58px;
    width: 80%;
    background-color: #23282c;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
}
#last #h42{
    color: black;
    font-size: 21px;
    bottom: 61px;
}
#last .h3{
    position: relative;
    font-size: 18px;
    padding-bottom: 67px;
}
#last .p1{
    position: relative;
    bottom: 50px;
    font-size: 16px;
}
#last button{
    margin-left: 26px;
    font-size: 14px;
    height: 50px;
    width: 200px;
    color: white;
    background-color: #c7a17a;
    border: 1px solid #c7a17a;
    margin-bottom: 40px;
}
#list{
    display: flex;
    background-color: #1e1e1e;
    color: white;
    gap: 30px;
    padding-top: 40px;
    padding-left: 35px;
}
#list .week{
    display: flex;
    gap: 20px;
}
#list li{
padding-top: 5px;
padding-bottom: 5px;
list-style-type: none;
}
#list #email{
    display: flex;
}
#list h3{
    margin-left: 30px;
    padding-bottom: 15px;
    font-size: 23px;
}
#list .v1{
    color: #626262;
}#footer{
    margin-bottom: -16px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    color: #c6c6c6;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 10px;
}
#footer li{
list-style-type: none;
}
#footer #icon{
    display: flex;
    gap: 20px;
}
#coffee{
    padding-top: 70px;
    background-color: #151412;
    color: white;
}
#coffee h4{
    padding-left: 348px;
    font-size: 22px;
}
#coffee h1{
    padding-left: 222px;
    font-size: 48px;
}
#coffee h2{
    padding-left: 555px;
    padding-top: 0px;
}
#coffee #icoffee{
    margin-left: 100px;
    padding-right: 20px;
}
#coffee #icoffe2{
    margin-left: 100px;
    padding-right: 20px;
    padding-bottom: 50px;
}
#vertical:hover{
    opacity: 0.7;
}
#shop:hover{
    opacity: 0.7;
}